.modal {
    position: fixed;
    z-index: 1;
    /*left: 0;
    top: 0;*/
    /*width: 400px;*/
    height: 200px;
    overflow: auto;
    background-color: #333;
}
.modal-content {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    width: 1000px; /* Set a smaller fixed width */
    max-width: 100%; /* Ensure it doesn't exceed 80% of the viewport */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

